html{
    background-color: #242424;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 14px 0;
    text-align: center;
}

.grid-container {
    font-family: 'Wallpoet', cursive;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #30303082;
    padding: 15px;
}

.grid-item{
    font-family: 'Wallpoet', cursive;
    background-color: rgba(9, 9, 9, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 25px;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}